<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>

    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <h1>Gestor de clientes</h1>
      </div>
      <div class="row">
        <button on-click="obtenerClientes" type="button" name="button" class="btn btn-success">Obtener Clientes</button>
        <button on-click="insertarCliente" type="button" name="button" class="btn btn-primary">Insertar Cliente</button>
      </div>

      <div class="row">
        <table class="table table-striped">
          <tbody>
            <template is="dom-repeat" items="{{clientes}}">
              <tr>
                <td>
                  [[item.idcliente]]
                </td>
                <td>
                  [[item.nombre]]
                </td>
                <td>
                  [[item.apellido]]
                </td>
                <td>
                  [[item.cuenta]]
                </td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>

    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          }
        };
      }
      obtenerClientes(){
        //var url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
        //var url = "https://api.mlab.com/api/1/databases/fhernandez/collections/Clientes/?apiKey=GOLqWa850qO8tsdCUdby6eq9eKPInBkt";
        var request = new XMLHttpRequest();

        request.open("GET", "http://localhost:3002/Clientes", false);
        request.setRequestHeader("Accept", "application/json");
        request.send();

        this.clientes = JSON.parse(request.responseText);
        console.table(this.clientes);
      }
      insertarCliente(){
        var url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
        var request = new XMLHttpRequest();

        request.open("POST", url, false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");

        var nuevoCliente = {"CustomerID":"12345", "ContactName":"Pepe", "CompanyName":"Pepes Bar"};
        var body = JSON.stringify(nuevoCliente);

        request.send(body);
        this.respuesta = request.responseText();
        console.log(this.respuesta);
      }
    }
    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
